body {
    background-image: url("../background.png");
}



.coverflow .cover {
  height: 400px;
  width: 400px;
  cursor: pointer;
}


.title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 300%;
	color: #FFFFFF;
	background:linear-gradient(#25488e,#101f3d);
	padding-left: 50px;
	padding-top:10px;
	height:70px;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
}


.button {
    border: 0 none;
    background: none;
}

/*Main buttons styling*/

.main_buttons_div {
    position: absolute;
    top:35%;
    left:34%;
}

img.main_icons {
	height : 200px;
	width : 200px;
}


figcaption.main_button_text{
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 200%
}

/*Footer buttons styling */
#home_button_div{
	position: absolute;
	left:3%;
	bottom:2.5%;
}

.rotate_button_div {
    position: absolute;
    left: 47.75%;
    bottom: 2.5%;
    width: 100px;
    bottom:0;
}

.footer_buttons_div {
	position: absolute;
	bottom: 2.5%;
	right: 3%;
}

img.footer_icons {
	height: 80px;
	width: 80px;
}


figcaption.footer_button_text{
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 130%
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 20% auto; /* 20% from the top and centered */
    padding: 20px;
    text-align: center;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Css for Votar música page */

#top_buttons_section{
	position:absolute;
	left:40%;
	top:2.6%;
	width:350px;
}

.top_button{
	margin-left:7%;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 200%;
	background:transparent;
	border:transparent;
	border-radius: 10px 10px 10px 10px;
}

.top_button:hover,
.top_button:focus {
    background-color: #0073e6;
    cursor: pointer;
}

#search_box{
  position:absolute;
  right: 10px;
  top: 10px;
  background-color: #eaf8fc;
  background-image: linear-gradient(#fff, #d4e8ec);
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: #c4d9df #a4c3ca #83afb7;
  width: 400px;
  height: 35px;
  padding: 10px;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 270px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}


#submit
{
    background-color:#008ae6;
    background-image: linear-gradient(#95d788, #008ae6);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#vote_button{
	position:absolute;
	left: 920px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-weight: 300;
	font-size: 150%;
	background-color:#f1f1f1;
	border-radius: 5px 5px 5px 5px;
	width:100px;
}

/*Dropable part*/

#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}


/* css for Pedir page*/
#section_menu{
	position:absolute;
	right:42%;
	top:9%

}

#order_section{
	position:absolute;
	top:30%;
	padding-left:30px;
}

/*cenas menu*/


ul#menu li {
    display: inline;
}



.order_buttons{
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 200%;
	border-radius: 20px 20px 20px 20px;
	text-align:center;
	background-color: #63AD21;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
}

.menu_content{
	position:fixed;
	right:0%;
	bottom:20%;
	display:none;
	background-color: #f8f8f8;
	border-radius: 25px 0px 0px 25px;
	width: 1000px;
	height:665px;
  overflow: scroll;
}

.list{
	position:fixed;
	right:0%;
	bottom:20%;
	display:none;
	background-color: #f8f8f8;
	border-radius: 25px 0px 0px 25px;
	width: 400px;
	height: 665px;
  overflow: scroll;
}

.menu_header{
  position:fixed;
	background: #63AD21;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  width: 1000px;
  height: 100px;
	font-size: 300%;
	color: #FFFFFF;
	border-radius: 25px 0px 0px 0px;
	padding-left: 50px;
	padding-top:20px;
	padding-bottom:10px;
}


.button_men{
  width: 200px;
  height:200px;
}

table, th, td {
    margin-top: 110px;
    margin-left: 10px;
    border: 10px solid #f8f8f8;
}

/* List/Box */
.list {
  background: #888;

  display: none; /* Hidden by default */

}

/* Modal Content/Box */
.list_content {
  position:fixed;
	background: #63A;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  width: 1000px;
	font-size: 300%;
	color: #FFFFFF;
	border-radius: 25px 0px 0px 0px;
	padding-left: 50px;
}

.list_order {
  margin-top: 180px;
  display: none; /* Hidden by default */

}


.impar {
  background-color: #fff;

}

.close_s {
    color: #aaa;
    float: right;
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.close_s:hover,
.close_s:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul#bebidas li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
