body{
  font-family: sans-serif;

  background: url("confectionary.png");
  background: linear-gradient(black, white);
  background: radial-gradient(circle, black, white);
  background: url("ist.png") bottom center no-repeat,  url("w.jpg")repeat;
  }

div {
  bottom: 0px;
  margin-bottom: 1,5em;
}
