body{
  font-family: sans-serif;

  background: url("confectionary.png");
  background: linear-gradient(black, white);
  background: radial-gradient(circle, black, white);
  background: url("w.jpg")repeat;
  }

div {
  bottom: 0px;
  margin-bottom: 1,75em;
  padding-top: 20px;
  margin-top: 10px;
}

div.inner_section{
	background-color: white;
	padding-left:10px;
	padding-bottom:20px;
	font-family: sans-serif;
	border-top-style: solid;
	border-color: black;
	display: none;
}

div.section{
	padding-top: 5px;
	background-color:rgb(255,243,215);
	border-style: solid;
    border-color: black;
}
h2{
	padding-left: 20px;
}

#ist_image{
	width:200px;
	height: 150px;
}